@font-face {
  font-family: 'Asomtavruli';
  src: url('./fonts/bpg_nino_mtavruli_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* html, body {
  font-family: 'Asomtavruli', sans-serif;
} */
                                                                                                
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x:hidden;

}

/* overlay-y */

html {
  scrollbar-width: normal;
  overflow-x:hidden;

}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(5, 176, 249, 0.968);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgb(5, 115, 249);
}

html::-webkit-scrollbar-track:hover {
  background-color: #6cb2c646;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal::-webkit-scrollbar {
  width: 0;
}

/* !! overlay-y */

.rdrDefinedRangesWrapper {
  display: none;
}

.filter-car-button {
  width: 100%;
  background-color: rgba(134, 234, 238, 0.9);
  color: Black;
  border: 0;
  padding: 10px;
  font-size: 20px;
  margin: 5px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.filter-car-button:hover {
  background-color: rgb(20, 181, 239);
  color: Black;

}


/* Filter checkboxes for car rent page */

.form-group {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:hover {
  color: #049cf4;
}

.form-group label:before {
  content: '';
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.radio-label::before {
  border-radius: 50%;
}

.form-group input:checked+label:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.css-13cymwt-control {
  cursor: pointer !important;
}

.css-1jqq78o-placeholder {
  font-size: 16px;
}

.reset-filter-button {
  color: white;
  background-color: rgb(20, 181, 239) !important;
}

.reset-filter-button:hover {
  color: rgb(21, 20, 20);
  background-color: rgb(167, 198, 209) !important;
}

.close-filter-button {
  color: white;
  background-color: rgb(20, 181, 239) !important;
}


.close-filter-button:hover {
  color: rgb(21, 20, 20);
  background-color: rgb(167, 198, 209) !important;
}



/* !! Filter checkboxes on car rent page */


/* Card animation */
.img-container {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.img-container:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.custom-card {
  overflow: hidden;
  border-radius: 0px;
  margin: 1px;
  cursor: pointer;

}

/*!! Card animation */

/* Car Modal */

.continue-to-book-button {
  width: 100%;
  border-radius: 0;
}

.custom-modal-overlay {
  background-color: rgba(78, 201, 215, 0.2);
}

.modal-content {
  border-radius: 0;
}

.see-more:hover {
  color: rgb(199, 120, 47) !important;
}

.PhoneInputInput {
  border: none;
}

/*!! Car Modal */
.rented {
  background-color: green;
}

.not-rented {
  background-color: #0079bf;
}


.calendar-container { 
  overflow-x: auto;
  
}

.calendar {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.calendar th, .calendar td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.calendar th {
  background-color: #eee;
}

.day-cell.rented {
  background-color: green;
  color: white;
}

/* Optional: Add hover effect for better user interaction */
.day-cell.rented:hover {
  background-color: rgba(0, 128, 0, 0.371);
}
.day-cell.not-rented:hover {
  background-color: #0079bf51;
}

.day-cell:hover {
  background-color: #d0e5f2e9;
}

/* Make the thead sticky */
.calendar thead {
  
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.info-container {
  padding: 30px;
  border: 1px solid black;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container {
  position: relative;
  margin-bottom: 50px;
}

.info-container {
  margin: 10px;
  margin-left: 100px;
  margin-right: 100px;
  border: 1px solid black;
  border-radius: 50px;
}

.buttons {
  display: flex;
  justify-content: right;
  gap: 1rem;
}

.buttons button {
  background-color: #859093;
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px;
}

.buttons button:hover {
  background-color: #2a94d16f;  
}

@media (max-width: 767px) {
  Table {
    font-size: 10px!important;
  }
  .th-cars {
    min-width: 135px!important;
  }
  .edit-icon-div{
    width: 10px!important;
    margin-right: 10px!important;
  }
}

.edit-icon-div{
  width: 20px;
  display: inline-block;
  margin-right: 5px;
}

.today {
  background-color: rgb(245, 157, 135)!important;
}

.edit-icon{
  cursor: pointer;
}

.car-name {
  background: whitesmoke;
}

.car-name:hover {
  background: #2a94d16f;
}